* text=auto !eol
/AUTHORS -text
/COPYING -text
/README -text
audio_bot/filters/meta2mp3.sh -text
audio_bot/filters/mp32wav.sh -text
audio_bot/filters/w2m.sh -text
audio_bot/filters/wav2mp3.sh -text
audio_bot/iwatch/iwatch.xml -text
audio_bot/iwatch/iwatch_command.sh -text
audio_player/README -text
audio_player/audio-player-standalone.zip -text
audio_player/test.html -text
config/dispatcher_in_config.php -text
config/gui_config_core.php -text
config/leave_message_100_core.conf -text
config/locale -text
cron/crontab.freedomfone -text
devel/monitor_ivr/cdr/cdr.php -text
devel/monitor_ivr/cdr/modules.conf.xml -text
devel/monitor_ivr/cdr/samples/b6dd9302-e7d6-11de-be68-8bfd48931c0f.cdr.xml -text
devel/monitor_ivr/cdr/samples/cdr.xml4b24c950d6eb3 -text
devel/monitor_ivr/cdr/samples/cdr.xml4b24cbfd827a1 -text
devel/monitor_ivr/cdr/samples/cdr/b6dd9302-e7d6-11de-be68-8bfd48931c0f.cdr.xml -text
devel/monitor_ivr/cdr/samples/cdr/e5f23d64-e7d6-11de-be68-8bfd48931c0f.cdr.xml -text
devel/monitor_ivr/cdr/samples/e5f23d64-e7d6-11de-be68-8bfd48931c0f.cdr.xml -text
devel/monitor_ivr/cdr/xml_cdr.conf.xml -text
devel/monitor_ivr/custom_events.txt -text
devel/monitor_ivr/ivr.conf.xml.sample -text
devel/monitor_ivr/monitor_ivr.js -text
dialer/TODO -text
dialer/config.php -text
dialer/dialer.sh -text
dialer/dialer_engine.php -text
dialer/iwatch.log -text
dispatcher_in/config.php -text
dispatcher_in/dispatcherESL.php -text
dispatcher_in/esl -text
dispatcher_in/install/spooler_db_createdb_user.sql -text
dispatcher_in/install/spooler_db_schema.sql -text
dispatcher_in/templates/blacklist.xsl -text
dispatcher_in/templates/channel_state.xsl -text
dispatcher_in/templates/custom_message.xsl -text
dispatcher_in/templates/default.xsl -text
dispatcher_in/templates/gsmopen.xsl -text
dispatcher_in/templates/lmsm.xsl -text
dispatcher_in/templates/message.xsl -text
dispatcher_in/templates/monitor_ivr.xsl -text
dispatcher_in/templates/tickle.xsl -text
dispatcher_in/tests/sendSMS.php -text
dispatcher_out/config.php -text
dispatcher_out/dispatcher_out.php -text
documentation/installation/freedomfone_pictus_developers_part1_v1.6.pdf -text
documentation/installation/freedomfone_pictus_developers_part2_v1.1.pdf -text
documentation/non_technical/freedomfone_documentation_non_technical_v1.0.doc -text
documentation/technical/freedomfone_technical_documentation_GSMopen_v1.0.doc -text
documentation/technical/freedomfone_technical_documentation_GSMopen_v1.0.odt -text
documentation/technical/freedomfone_technical_documentation_GSMopen_v1.0.pdf -text
documentation/technical/freedomfone_technical_documentation_GSMopen_v2.0.doc -text
documentation/technical/freedomfone_technical_documentation_GSMopen_v2.0.odt -text
documentation/technical/freedomfone_technical_documentation_GSMopen_v2.0.pdf -text
documentation/technical/freedomfone_technical_documentation_GSMopen_v3.0.doc -text
documentation/technical/freedomfone_technical_documentation_GSMopen_v3.0.odt -text
documentation/technical/freedomfone_technical_documentation_GSMopen_v3.0.pdf -text
documentation/technical/freedomfone_technical_documentation_middle+application_v1.0.doc -text
documentation/technical/freedomfone_technical_documentation_middle+application_v1.0.odt -text
documentation/technical/freedomfone_technical_documentation_middle+application_v1.0.pdf -text
esl/README -text
esl/native/ESL.php -text
esl/native/INSTALL -text
esl/native/api_client.php -text
esl/native/php.ini -text
esl/native/samples/single_command.php -text
esl/native/samples/test.php -text
esl/php/fs_sock.php -text
extras/fix_perms_fs.sh -text
extras/fix_perms_gui.sh -text
extras/lame397 -text
extras/php2twitter.php -text
extras/setmixers -text
extras/sources.list.debian5 -text
freeswitch/conf/autoload_configs/README -text
freeswitch/conf/autoload_configs/asound.conf -text
freeswitch/conf/autoload_configs/gsmopen.conf.xml -text
freeswitch/conf/autoload_configs/modules.conf.xml -text
freeswitch/conf/autoload_configs/skypiax.conf.xml -text
freeswitch/conf/autoload_configs/xml_curl.conf.xml -text
freeswitch/conf/lang/de/de.xml -text
freeswitch/conf/lang/de/demo/demo.xml -text
freeswitch/conf/lang/de/vm/tts.xml -text
freeswitch/conf/lang/en/README -text
freeswitch/conf/lang/en/demo/demo-ivr.xml -text
freeswitch/conf/lang/en/demo/demo.xml -text
freeswitch/conf/lang/en/en.xml -text
freeswitch/conf/lang/en/freedomfone/README -text
freeswitch/conf/lang/en/freedomfone/default.xml -text
freeswitch/conf/lang/en/vm/sounds.xml -text
freeswitch/conf/lang/en/vm/tts.xml -text
freeswitch/conf/lang/fr/demo/demo.xml -text
freeswitch/conf/lang/fr/fr.xml -text
freeswitch/conf/lang/fr/vm/sounds.xml -text
freeswitch/conf/lang/ru/demo/demo-ivr.xml -text
freeswitch/conf/lang/ru/demo/demo.xml -text
freeswitch/conf/lang/ru/ru.xml -text
freeswitch/conf/lang/ru/vm/sounds.xml -text
freeswitch/conf/lang/ru/vm/tts.xml -text
freeswitch/conf/sip-profiles/README -text
freeswitch/conf/sip-profiles/external/2n.xml -text
freeswitch/conf/sip-profiles/internal.xml.openbts -text
freeswitch/conf/vars.xml -text
freeswitch/directory/default/openbts1.xml -text
freeswitch/directory/default/openbts2.xml -text
freeswitch/etc/asound.conf -text
freeswitch/gateways/openbts/SIPEngine.cpp.patch -text
freeswitch/gateways/openbts/SIPMessage.cpp.patch -text
freeswitch/gateways/voiceblue/conf/README -text
freeswitch/gateways/voiceblue/conf/voiceblue_lite_conf.ini -text
freeswitch/modules.conf -text
freeswitch/scripts/freedomfone/dtmf/main.js -text
freeswitch/scripts/freedomfone/echo/README.mon -text
freeswitch/scripts/freedomfone/echo/main.js -text
freeswitch/scripts/freedomfone/leave_message/100/audio_menu/README -text
freeswitch/scripts/freedomfone/leave_message/100/conf/100.conf -text
freeswitch/scripts/freedomfone/leave_message/100/conf/100_core.conf -text
freeswitch/scripts/freedomfone/leave_message/100/conf/README -text
freeswitch/scripts/freedomfone/leave_message/100/conf/default.conf -text
freeswitch/scripts/freedomfone/leave_message/main.js -text
freeswitch/scripts/freedomfone/monitor_ivr/main.js -text
freeswitch/scripts/freedomfone/sms/README -text
freeswitch/scripts/freedomfone/sms/main.js -text
freeswitch/scripts/freedomfone/tickle/main.js -text
freeswitch/src/mod/endpoints/README -text
gui/.htaccess -text
gui/apache2/freedomfone -text
gui/app/.htaccess -text
gui/app/app_controller.php -text
gui/app/config/acl.ini.php -text
gui/app/config/bootstrap.php -text
gui/app/config/config.php -text
gui/app/config/core.php -text
gui/app/config/database.php -text
gui/app/config/database.php.default -text
gui/app/config/inflections.php -text
gui/app/config/routes.php -text
gui/app/config/sql/db_acl.php -text
gui/app/config/sql/db_acl.sql -text
gui/app/config/sql/i18n.php -text
gui/app/config/sql/i18n.sql -text
gui/app/config/sql/sessions.php -text
gui/app/config/sql/sessions.sql -text
gui/app/controllers/bin_controller.php -text
gui/app/controllers/callback_in_controller.php -text
gui/app/controllers/callback_settings_controller.php -text
gui/app/controllers/categories_controller.php -text
gui/app/controllers/cdr_controller.php -text
gui/app/controllers/channels_controller.php -text
gui/app/controllers/components/empty -text
gui/app/controllers/ivr_menus_controller.php -text
gui/app/controllers/lm_menus_controller.php -text
gui/app/controllers/messages_controller.php -text
gui/app/controllers/monitor_ivr_controller.php -text
gui/app/controllers/nodes_controller.php -text
gui/app/controllers/polls_controller.php -text
gui/app/controllers/processes_controller.php -text
gui/app/controllers/tags_controller.php -text
gui/app/controllers/votes_controller.php -text
gui/app/index.php -text
gui/app/install/freedomfone_db_createdb_user.sql -text
gui/app/install/freedomfone_db_schema.sql -text
gui/app/locale/eng/LC_MESSAGES/empty -text
gui/app/locale/gui.pot -text
gui/app/models/behaviors/empty -text
gui/app/models/bin.php -text
gui/app/models/callback_in.php -text
gui/app/models/callback_setting.php -text
gui/app/models/category.php -text
gui/app/models/cdr.php -text
gui/app/models/channel.php -text
gui/app/models/datasources/empty -text
gui/app/models/ivr_menu.php -text
gui/app/models/lm_menu.php -text
gui/app/models/message.php -text
gui/app/models/monitor_ivr.php -text
gui/app/models/node.php -text
gui/app/models/poll.php -text
gui/app/models/process.php -text
gui/app/models/tag.php -text
gui/app/models/vote.php -text
gui/app/plugins/empty -text
gui/app/tests/cases/behaviors/empty -text
gui/app/tests/cases/components/empty -text
gui/app/tests/cases/controllers/empty -text
gui/app/tests/cases/helpers/empty -text
gui/app/tests/cases/models/empty -text
gui/app/tests/fixtures/empty -text
gui/app/tests/groups/empty -text
gui/app/tmp/cache/models/empty -text
gui/app/tmp/cache/persistent/cake_core_object_map -text
gui/app/tmp/cache/persistent/empty -text
gui/app/tmp/cache/views/empty -text
gui/app/tmp/logs/empty -text
gui/app/tmp/sessions/empty -text
gui/app/tmp/tests/empty -text
gui/app/vendors/ESL.php -text
gui/app/vendors/dialout.php -text
gui/app/vendors/ivr_xml.php -text
gui/app/vendors/shells/tasks/empty -text
gui/app/vendors/shells/templates/empty -text
gui/app/vendors/spooler_ff.php -text
gui/app/views/bin/export.ctp -text
gui/app/views/bin/index.ctp -text
gui/app/views/callback_in/index.ctp -text
gui/app/views/callback_settings/index.ctp -text
gui/app/views/categories/add.ctp -text
gui/app/views/categories/edit.ctp -text
gui/app/views/categories/index.ctp -text
gui/app/views/cdr/export.ctp -text
gui/app/views/cdr/index.ctp -text
gui/app/views/cdr/output.ctp -text
gui/app/views/cdr/overview.ctp -text
gui/app/views/channels/index.ctp -text
gui/app/views/elements/callback_status.ctp -text
gui/app/views/elements/menu.ctp -text
gui/app/views/elements/menu_next.ctp -text
gui/app/views/elements/message_status.ctp -text
gui/app/views/elements/musicplayer_button.ctp -text
gui/app/views/elements/poll_status.ctp -text
gui/app/views/elements/process_status.ctp -text
gui/app/views/errors/empty -text
gui/app/views/helpers/csv.php -text
gui/app/views/helpers/empty -text
gui/app/views/helpers/flash.php -text
gui/app/views/helpers/formatting.php -text
gui/app/views/helpers/menulight.php -text
gui/app/views/ivr_menus/add.ctp -text
gui/app/views/ivr_menus/edit.ctp -text
gui/app/views/ivr_menus/index.ctp -text
gui/app/views/layouts/default.ctp -text
gui/app/views/layouts/js/empty -text
gui/app/views/layouts/rss/empty -text
gui/app/views/layouts/xml/empty -text
gui/app/views/lm_menus/settings.ctp -text
gui/app/views/messages/archive.ctp -text
gui/app/views/messages/edit.ctp -text
gui/app/views/messages/index.ctp -text
gui/app/views/monitor_ivr/erase.ctp -text
gui/app/views/monitor_ivr/export.ctp -text
gui/app/views/monitor_ivr/index.ctp -text
gui/app/views/monitor_ivr/output.ctp -text
gui/app/views/nodes/add.ctp -text
gui/app/views/nodes/edit.ctp -text
gui/app/views/nodes/index.ctp -text
gui/app/views/pages/about.ctp -text
gui/app/views/pages/architecture/callback.ctp -text
gui/app/views/pages/architecture/index.ctp -text
gui/app/views/pages/architecture/ivr.ctp -text
gui/app/views/pages/architecture/leave-a-message.ctp -text
gui/app/views/pages/architecture/poll.ctp -text
gui/app/views/pages/functionality/callback.ctp -text
gui/app/views/pages/functionality/dashboard.ctp -text
gui/app/views/pages/functionality/index.ctp -text
gui/app/views/pages/functionality/ivr.ctp -text
gui/app/views/pages/functionality/leave-a-message.ctp -text
gui/app/views/pages/functionality/poll.ctp -text
gui/app/views/pages/home.ctp -text
gui/app/views/polls/add.ctp -text
gui/app/views/polls/edit.ctp -text
gui/app/views/polls/index.ctp -text
gui/app/views/polls/view.ctp -text
gui/app/views/processes/index.ctp -text
gui/app/views/processes/software.ctp -text
gui/app/views/scaffolds/empty -text
gui/app/views/tags/add.ctp -text
gui/app/views/tags/edit.ctp -text
gui/app/views/tags/index.ctp -text
gui/app/webroot/.htaccess -text
gui/app/webroot/css.php -text
gui/app/webroot/css/cake.generic.css -text
gui/app/webroot/css/customise.css -text
gui/app/webroot/css/layout.css -text
gui/app/webroot/css/style.css -text
gui/app/webroot/css/vimeo.css -text
gui/app/webroot/favicon.ico -text
gui/app/webroot/freedomfone -text
gui/app/webroot/img/bg.png -text
gui/app/webroot/img/branding_head.gif -text
gui/app/webroot/img/branding_head.png -text
gui/app/webroot/img/button_bg.gif -text
gui/app/webroot/img/core/dog.png -text
gui/app/webroot/img/core/ff_text.png -text
gui/app/webroot/img/dark_input_bg.gif -text
gui/app/webroot/img/footer_bg.gif -text
gui/app/webroot/img/html_bg.gif -text
gui/app/webroot/img/icons/accept.png -text
gui/app/webroot/img/icons/add.png -text
gui/app/webroot/img/icons/clock.png -text
gui/app/webroot/img/icons/delete.png -text
gui/app/webroot/img/icons/edit.png -text
gui/app/webroot/img/icons/listen.png -text
gui/app/webroot/img/icons/lock.png -text
gui/app/webroot/img/icons/lock_unlock.png -text
gui/app/webroot/img/icons/new.png -text
gui/app/webroot/img/icons/off.png -text
gui/app/webroot/img/icons/on.png -text
gui/app/webroot/img/icons/reject.png -text
gui/app/webroot/img/icons/space.png -text
gui/app/webroot/img/icons/start.png -text
gui/app/webroot/img/icons/stop.png -text
gui/app/webroot/img/illustrations/FF_IVR_design.png -text
gui/app/webroot/img/illustrations/FF_LAM_state_machine.png -text
gui/app/webroot/img/illustrations/freedomfone_v1.0_architecture.png -text
gui/app/webroot/img/illustrations/freedomfone_v1.0_architecture_callback.png -text
gui/app/webroot/img/illustrations/freedomfone_v1.0_architecture_leaveMessage.png -text
gui/app/webroot/img/illustrations/freedomfone_v1.0_architecture_poll.png -text
gui/app/webroot/img/illustrations/freedomfone_v1.0_architecture_voiceMenu.png -text
gui/app/webroot/img/menu/corner_inset_left.png -text
gui/app/webroot/img/menu/corner_inset_right.png -text
gui/app/webroot/img/menu/corner_left.png -text
gui/app/webroot/img/menu/corner_right.png -text
gui/app/webroot/img/menu/dot.gif -text
gui/app/webroot/img/menu/dot_blue.png -text
gui/app/webroot/img/menu/menu_left.png -text
gui/app/webroot/img/menu/menu_left_rss.png -text
gui/app/webroot/img/menu/menu_mid_svn.png -text
gui/app/webroot/img/menu/menu_right.png -text
gui/app/webroot/img/menu/menu_right_long.png -text
gui/app/webroot/img/menu/menu_right_rss.png -text
gui/app/webroot/img/menu/menu_right_svn.png -text
gui/app/webroot/img/top_bg.gif -text
gui/app/webroot/img/top_shadow.gif -text
gui/app/webroot/index.php -text
gui/app/webroot/js/addRemoveElements.js -text
gui/app/webroot/js/corner.js -text
gui/app/webroot/js/jquery.corner.js -text
gui/app/webroot/js/jquery.js -text
gui/app/webroot/js/prototype.js -text
gui/app/webroot/js/scriptaculous.js -text
gui/app/webroot/js/swfobject.js -text
gui/app/webroot/js/toggle.js -text
gui/app/webroot/js/vendors.php -text
gui/app/webroot/swf/cakeflash_soundtracker.swf -text
gui/app/webroot/swf/musicplayer.swf -text
gui/app/webroot/swf/xspf_player_slim.swf -text
gui/app/webroot/themed/ff/css/style.css -text
gui/app/webroot/xml_curl -text
gui/index.php -text
init.d/dispatcher_in -text
init.d/etc/default/iwatch -text
init.d/freeswitch -text
init.d/gsmopen -text
init.d/iwatch -text
installer/lupinus/0_lupinus_install_download.sh -text
installer/lupinus/1_lupinus_install.sh -text
installer/lupinus/2_lupinus_install.sh -text
installer/lupinus/3_lupinus_db_reset.sh -text
installer/pictus/centos/pictus_install_gui.sh -text
installer/pictus/pictus_install.sh -text
installer/pictus/pictus_install_gui.sh -text
license/MPL -text
log/dialer.log -text
log/dispatcher_in.log -text
log/dispatcher_out.log -text
xml_curl/Mod_XML_Curl_Outline.png -text
xml_curl/README -text
xml_curl/dialplan.xml -text
xml_curl/index.php -text
xml_curl/ivr.xml -text
