* text=auto !eol
/AUTHORS -text
/COPYING -text
/README -text
/RELEASE.sgml -text
/RELEASE.txt -text
audio_bot/filters/meta2mp3.sh -text
audio_bot/filters/mp32wav.sh -text
audio_bot/filters/w2m.sh -text
audio_bot/filters/wav2mp3.sh -text
audio_bot/iwatch/iwatch.xml -text
audio_bot/iwatch/iwatch_command.sh -text
config/dispatcher_in_config.php -text
config/gui_config_core.php -text
config/locale -text
config/officeroute_config.php -text
config/officeroute_snmp_cake.php -text
cron/crontab.freedomfone -text
dispatcher_in/config.php -text
dispatcher_in/dispatcherESL.php -text
dispatcher_in/esl -text
dispatcher_in/install/spooler_db_createdb_user.sql -text
dispatcher_in/install/spooler_db_schema.sql -text
dispatcher_in/templates/blacklist.xsl -text
dispatcher_in/templates/channel_state.xsl -text
dispatcher_in/templates/custom_message.xsl -text
dispatcher_in/templates/default.xsl -text
dispatcher_in/templates/gsmopen.xsl -text
dispatcher_in/templates/lmsm.xsl -text
dispatcher_in/templates/message.xsl -text
dispatcher_in/templates/monitor_ivr.xsl -text
dispatcher_in/templates/officeroute.xsl -text
dispatcher_in/templates/tickle.xsl -text
dispatcher_in/tests/sendSMS.php -text
documentation/developers/freedomfone_sekowei_2.0_documentation_developers_guide.pdf -text
documentation/screenshots/freedomfone_worldwide.png -text
documentation/screenshots/ivr_sw.png -text
documentation/screenshots/poll_sw.png -text
documentation/users/Freedom_Fone_v1.6_Audacity_Cheat_Sheet.pdf -text
documentation/users/Freedom_Fone_v1.6_Other_Devices.pdf -text
documentation/users/Freedom_Fone_v1.6_Troubleshooting.pdf -text
documentation/users/Freedom_Fone_v2.0_Quick_Start_Guide.pdf -text
esl/README -text
esl/native/ESL.php -text
esl/native/INSTALL -text
esl/native/api_client.php -text
esl/native/php.ini -text
esl/native/samples/single_command.php -text
esl/native/samples/test.php -text
esl/php/fs_sock.php -text
extras/blacklist.pl2303 -text
extras/ff_icon.png -text
extras/ff_logo.jpg -text
extras/fix_perms_fs.sh -text
extras/fix_perms_gui.sh -text
extras/gsmopen/README -text
extras/gsmopen/mod_gsmopen.la -text
extras/gsmopen/mod_gsmopen.so -text
extras/logrotate.d/freedomfone -text
extras/logrotate.d/freedomfone_dispatcher_in -text
extras/php.ini -text
extras/php2twitter.php -text
extras/setmixers -text
extras/twitter_XXL.jpg -text
freeswitch/conf/autoload_configs/README -text
freeswitch/conf/autoload_configs/asound.conf -text
freeswitch/conf/autoload_configs/gsmopen.conf.xml -text
freeswitch/conf/autoload_configs/modules.conf.xml -text
freeswitch/conf/autoload_configs/skypiax.conf.xml -text
freeswitch/conf/autoload_configs/xml_curl.conf.xml -text
freeswitch/conf/lang/de/de.xml -text
freeswitch/conf/lang/de/demo/demo.xml -text
freeswitch/conf/lang/de/vm/tts.xml -text
freeswitch/conf/lang/en/README -text
freeswitch/conf/lang/en/demo/demo-ivr.xml -text
freeswitch/conf/lang/en/demo/demo.xml -text
freeswitch/conf/lang/en/en.xml -text
freeswitch/conf/lang/en/freedomfone/README -text
freeswitch/conf/lang/en/freedomfone/default.xml -text
freeswitch/conf/lang/en/vm/sounds.xml -text
freeswitch/conf/lang/en/vm/tts.xml -text
freeswitch/conf/lang/fr/demo/demo.xml -text
freeswitch/conf/lang/fr/fr.xml -text
freeswitch/conf/lang/fr/vm/sounds.xml -text
freeswitch/conf/lang/ru/demo/demo-ivr.xml -text
freeswitch/conf/lang/ru/demo/demo.xml -text
freeswitch/conf/lang/ru/ru.xml -text
freeswitch/conf/lang/ru/vm/sounds.xml -text
freeswitch/conf/lang/ru/vm/tts.xml -text
freeswitch/conf/sip-profiles/README -text
freeswitch/conf/sip-profiles/external/2n.xml -text
freeswitch/conf/sip-profiles/internal.xml.openbts -text
freeswitch/conf/sip-profiles/officeroute.xml -text
freeswitch/conf/vars.xml -text
freeswitch/directory/default/openbts1.xml -text
freeswitch/directory/default/openbts2.xml -text
freeswitch/etc/asound.conf -text
freeswitch/gateways/openbts/SIPEngine.cpp.patch -text
freeswitch/gateways/openbts/SIPMessage.cpp.patch -text
freeswitch/gateways/voiceblue/conf/README -text
freeswitch/gateways/voiceblue/conf/voiceblue_lite_conf.ini -text
freeswitch/modules-1.0.6.conf -text
freeswitch/modules.conf -text
freeswitch/scripts/freedomfone/dtmf/main.js -text
freeswitch/scripts/freedomfone/echo/README.mon -text
freeswitch/scripts/freedomfone/echo/main.js -text
freeswitch/scripts/freedomfone/leave_message/100/audio_menu/README -text
freeswitch/scripts/freedomfone/leave_message/100/conf/100.conf -text
freeswitch/scripts/freedomfone/leave_message/100/conf/100_core.conf -text
freeswitch/scripts/freedomfone/leave_message/100/conf/README -text
freeswitch/scripts/freedomfone/leave_message/101/audio_menu/README -text
freeswitch/scripts/freedomfone/leave_message/101/conf/101.conf -text
freeswitch/scripts/freedomfone/leave_message/101/conf/101_core.conf -text
freeswitch/scripts/freedomfone/leave_message/101/conf/README -text
freeswitch/scripts/freedomfone/leave_message/102/audio_menu/README -text
freeswitch/scripts/freedomfone/leave_message/102/conf/102.conf -text
freeswitch/scripts/freedomfone/leave_message/102/conf/102_core.conf -text
freeswitch/scripts/freedomfone/leave_message/102/conf/README -text
freeswitch/scripts/freedomfone/leave_message/103/audio_menu/README -text
freeswitch/scripts/freedomfone/leave_message/103/conf/103.conf -text
freeswitch/scripts/freedomfone/leave_message/103/conf/103_core.conf -text
freeswitch/scripts/freedomfone/leave_message/103/conf/README -text
freeswitch/scripts/freedomfone/leave_message/104/audio_menu/README -text
freeswitch/scripts/freedomfone/leave_message/104/conf/104.conf -text
freeswitch/scripts/freedomfone/leave_message/104/conf/104_core.conf -text
freeswitch/scripts/freedomfone/leave_message/104/conf/README -text
freeswitch/scripts/freedomfone/leave_message/105/audio_menu/README -text
freeswitch/scripts/freedomfone/leave_message/105/conf/105.conf -text
freeswitch/scripts/freedomfone/leave_message/105/conf/105_core.conf -text
freeswitch/scripts/freedomfone/leave_message/105/conf/README -text
freeswitch/scripts/freedomfone/leave_message/106/audio_menu/README -text
freeswitch/scripts/freedomfone/leave_message/106/conf/106.conf -text
freeswitch/scripts/freedomfone/leave_message/106/conf/106_core.conf -text
freeswitch/scripts/freedomfone/leave_message/106/conf/README -text
freeswitch/scripts/freedomfone/leave_message/107/audio_menu/README -text
freeswitch/scripts/freedomfone/leave_message/107/conf/107.conf -text
freeswitch/scripts/freedomfone/leave_message/107/conf/107_core.conf -text
freeswitch/scripts/freedomfone/leave_message/107/conf/README -text
freeswitch/scripts/freedomfone/leave_message/108/audio_menu/README -text
freeswitch/scripts/freedomfone/leave_message/108/conf/108.conf -text
freeswitch/scripts/freedomfone/leave_message/108/conf/108_core.conf -text
freeswitch/scripts/freedomfone/leave_message/108/conf/README -text
freeswitch/scripts/freedomfone/leave_message/109/audio_menu/README -text
freeswitch/scripts/freedomfone/leave_message/109/conf/109.conf -text
freeswitch/scripts/freedomfone/leave_message/109/conf/109_core.conf -text
freeswitch/scripts/freedomfone/leave_message/109/conf/README -text
freeswitch/scripts/freedomfone/leave_message/110/audio_menu/README -text
freeswitch/scripts/freedomfone/leave_message/110/conf/110.conf -text
freeswitch/scripts/freedomfone/leave_message/110/conf/110_core.conf -text
freeswitch/scripts/freedomfone/leave_message/110/conf/README -text
freeswitch/scripts/freedomfone/leave_message/111/audio_menu/README -text
freeswitch/scripts/freedomfone/leave_message/111/conf/111.conf -text
freeswitch/scripts/freedomfone/leave_message/111/conf/111_core.conf -text
freeswitch/scripts/freedomfone/leave_message/111/conf/README -text
freeswitch/scripts/freedomfone/leave_message/112/audio_menu/README -text
freeswitch/scripts/freedomfone/leave_message/112/conf/112.conf -text
freeswitch/scripts/freedomfone/leave_message/112/conf/112_core.conf -text
freeswitch/scripts/freedomfone/leave_message/112/conf/README -text
freeswitch/scripts/freedomfone/leave_message/113/audio_menu/README -text
freeswitch/scripts/freedomfone/leave_message/113/conf/113.conf -text
freeswitch/scripts/freedomfone/leave_message/113/conf/113_core.conf -text
freeswitch/scripts/freedomfone/leave_message/113/conf/README -text
freeswitch/scripts/freedomfone/leave_message/114/audio_menu/README -text
freeswitch/scripts/freedomfone/leave_message/114/conf/114.conf -text
freeswitch/scripts/freedomfone/leave_message/114/conf/114_core.conf -text
freeswitch/scripts/freedomfone/leave_message/114/conf/README -text
freeswitch/scripts/freedomfone/leave_message/115/audio_menu/README -text
freeswitch/scripts/freedomfone/leave_message/115/conf/115.conf -text
freeswitch/scripts/freedomfone/leave_message/115/conf/115_core.conf -text
freeswitch/scripts/freedomfone/leave_message/115/conf/README -text
freeswitch/scripts/freedomfone/leave_message/116/audio_menu/README -text
freeswitch/scripts/freedomfone/leave_message/116/conf/116.conf -text
freeswitch/scripts/freedomfone/leave_message/116/conf/116_core.conf -text
freeswitch/scripts/freedomfone/leave_message/116/conf/README -text
freeswitch/scripts/freedomfone/leave_message/117/audio_menu/README -text
freeswitch/scripts/freedomfone/leave_message/117/conf/117.conf -text
freeswitch/scripts/freedomfone/leave_message/117/conf/117_core.conf -text
freeswitch/scripts/freedomfone/leave_message/117/conf/README -text
freeswitch/scripts/freedomfone/leave_message/118/audio_menu/README -text
freeswitch/scripts/freedomfone/leave_message/118/conf/118.conf -text
freeswitch/scripts/freedomfone/leave_message/118/conf/118_core.conf -text
freeswitch/scripts/freedomfone/leave_message/118/conf/README -text
freeswitch/scripts/freedomfone/leave_message/119/audio_menu/README -text
freeswitch/scripts/freedomfone/leave_message/119/conf/119.conf -text
freeswitch/scripts/freedomfone/leave_message/119/conf/119_core.conf -text
freeswitch/scripts/freedomfone/leave_message/119/conf/README -text
freeswitch/scripts/freedomfone/leave_message/instance/instance.conf -text
freeswitch/scripts/freedomfone/leave_message/instance/instance_core.conf -text
freeswitch/scripts/freedomfone/leave_message/main.js -text
freeswitch/scripts/freedomfone/monitor_ivr/main.js -text
freeswitch/scripts/freedomfone/sms/README -text
freeswitch/scripts/freedomfone/sms/main.js -text
freeswitch/scripts/freedomfone/tickle/main.js -text
freeswitch/src/mod/endpoints/README.GSMOPEN -text
gui/.htaccess -text
gui/apache2/envvars -text
gui/apache2/freedomfone -text
gui/apache2/freedomfone.nginx.nolog -text
gui/apache2/index.html -text
gui/apache2/nginx/sites-available/default -text
gui/apache2/nginx/sites-enabled/freedomfone -text
gui/app/.htaccess -text
gui/app/app_controller.php -text
gui/app/config/acl.ini.php -text
gui/app/config/bootstrap.php -text
gui/app/config/config.php -text
gui/app/config/core.php -text
gui/app/config/database.php -text
gui/app/config/database.php.default -text
gui/app/config/inflections.php -text
gui/app/config/ip_addr.php -text
gui/app/config/routes.php -text
gui/app/config/sql/db_acl.php -text
gui/app/config/sql/db_acl.sql -text
gui/app/config/sql/i18n.php -text
gui/app/config/sql/i18n.sql -text
gui/app/config/sql/sessions.php -text
gui/app/config/sql/sessions.sql -text
gui/app/controllers/bin_controller.php -text
gui/app/controllers/callback_settings_controller.php -text
gui/app/controllers/callbacks_controller.php -text
gui/app/controllers/campaigns_controller.php -text
gui/app/controllers/categories_controller.php -text
gui/app/controllers/cdr_controller.php -text
gui/app/controllers/channels_controller.php -text
gui/app/controllers/components/empty -text
gui/app/controllers/components/simplepie.php -text
gui/app/controllers/ivr_menus_controller.php -text
gui/app/controllers/lm_menus_controller.php -text
gui/app/controllers/logs_controller.php -text
gui/app/controllers/messages_controller.php -text
gui/app/controllers/monitor_ivr_controller.php -text
gui/app/controllers/nodes_controller.php -text
gui/app/controllers/office_route_controller.php -text
gui/app/controllers/phone_books_controller.php -text
gui/app/controllers/phone_numbers_controller.php -text
gui/app/controllers/polls_controller.php -text
gui/app/controllers/processes_controller.php -text
gui/app/controllers/settings_controller.php -text
gui/app/controllers/tags_controller.php -text
gui/app/controllers/users_controller.php -text
gui/app/controllers/votes_controller.php -text
gui/app/index.php -text
gui/app/install/UPDATE_freedomfone_1.6.5-04_TO_2.0.sql -text
gui/app/install/freedomfone_db_createdb_user.sql -text
gui/app/install/freedomfone_db_schema.sql -text
gui/app/install/freedomfone_demo_data.sql -text
gui/app/locale/eng/LC_MESSAGES/empty -text
gui/app/locale/esp/LC_MESSAGES/default.po -text
gui/app/locale/freedomfone_2-0.pot -text
gui/app/locale/swa/LC_MESSAGES/default.po -text
gui/app/models/behaviors/empty -text
gui/app/models/bin.php -text
gui/app/models/callback.php -text
gui/app/models/callback_setting.php -text
gui/app/models/campaign.php -text
gui/app/models/category.php -text
gui/app/models/cdr.php -text
gui/app/models/channel.php -text
gui/app/models/datasources/empty -text
gui/app/models/ivr_menu.php -text
gui/app/models/lm_menu.php -text
gui/app/models/log.php -text
gui/app/models/mapping.php -text
gui/app/models/message.php -text
gui/app/models/monitor_ivr.php -text
gui/app/models/node.php -text
gui/app/models/office_route.php -text
gui/app/models/phone_book.php -text
gui/app/models/phone_number.php -text
gui/app/models/poll.php -text
gui/app/models/process.php -text
gui/app/models/setting.php -text
gui/app/models/switcher.php -text
gui/app/models/tag.php -text
gui/app/models/user.php -text
gui/app/models/vote.php -text
gui/app/plugins/empty -text
gui/app/tests/cases/behaviors/empty -text
gui/app/tests/cases/components/empty -text
gui/app/tests/cases/controllers/empty -text
gui/app/tests/cases/helpers/empty -text
gui/app/tests/cases/models/empty -text
gui/app/tests/fixtures/empty -text
gui/app/tests/groups/empty -text
gui/app/tmp/cache/models/empty -text
gui/app/tmp/cache/persistent/cake_core_object_map -text
gui/app/tmp/cache/persistent/empty -text
gui/app/tmp/cache/views/empty -text
gui/app/tmp/logs/empty -text
gui/app/tmp/sessions/empty -text
gui/app/tmp/tests/empty -text
gui/app/vendors/ESL.php -text
gui/app/vendors/dialout.php -text
gui/app/vendors/ivr_xml.php -text
gui/app/vendors/shells/tasks/empty -text
gui/app/vendors/shells/templates/empty -text
gui/app/vendors/simplepie/LICENSE.txt -text
gui/app/vendors/simplepie/README.txt -text
gui/app/vendors/simplepie/simplepie.php -text
gui/app/vendors/spooler_ff.php -text
gui/app/views/bin/export.ctp -text
gui/app/views/bin/index.ctp -text
gui/app/views/callback_settings/index.ctp -text
gui/app/views/callbacks/add.ctp -text
gui/app/views/callbacks/batch.ctp -text
gui/app/views/callbacks/disp.ctp -text
gui/app/views/callbacks/disp_manage.ctp -text
gui/app/views/callbacks/index.ctp -text
gui/app/views/callbacks/manage_batch.ctp -text
gui/app/views/callbacks/status.ctp -text
gui/app/views/callbacks/user.ctp -text
gui/app/views/campaigns/add.ctp -text
gui/app/views/campaigns/disp.ctp -text
gui/app/views/campaigns/disp_manage.ctp -text
gui/app/views/campaigns/edit.ctp -text
gui/app/views/campaigns/index.ctp -text
gui/app/views/campaigns/status.ctp -text
gui/app/views/campaigns/user.ctp -text
gui/app/views/campaigns/view.ctp -text
gui/app/views/categories/add.ctp -text
gui/app/views/categories/edit.ctp -text
gui/app/views/categories/index.ctp -text
gui/app/views/cdr/delete.ctp -text
gui/app/views/cdr/export.ctp -text
gui/app/views/cdr/general.ctp -text
gui/app/views/cdr/index.ctp -text
gui/app/views/cdr/output.ctp -text
gui/app/views/cdr/overview.ctp -text
gui/app/views/cdr/statistics.ctp -text
gui/app/views/channels/edit.ctp -text
gui/app/views/channels/index.ctp -text
gui/app/views/elements/callback_status.ctp -text
gui/app/views/elements/channel_signal_level.ctp -text
gui/app/views/elements/dialer_status.ctp -text
gui/app/views/elements/flash_message.ctp -text
gui/app/views/elements/menu.ctp -text
gui/app/views/elements/menu_next.ctp -text
gui/app/views/elements/message_status.ctp -text
gui/app/views/elements/player.ctp -text
gui/app/views/elements/poll_status.ctp -text
gui/app/views/elements/process_status.ctp -text
gui/app/views/elements/services.ctp -text
gui/app/views/errors/empty -text
gui/app/views/errors/missing_action.ctp -text
gui/app/views/errors/missing_controller.ctp -text
gui/app/views/errors/missing_view.ctp -text
gui/app/views/helpers/csv.php -text
gui/app/views/helpers/empty -text
gui/app/views/helpers/flash.php -text
gui/app/views/helpers/formatting.php -text
gui/app/views/helpers/menulight.php -text
gui/app/views/ivr_menus/add.ctp -text
gui/app/views/ivr_menus/add_selector.ctp -text
gui/app/views/ivr_menus/add_switcher.ctp -text
gui/app/views/ivr_menus/disp.ctp -text
gui/app/views/ivr_menus/edit.ctp -text
gui/app/views/ivr_menus/edit_selector.ctp -text
gui/app/views/ivr_menus/index.ctp -text
gui/app/views/ivr_menus/selectors.ctp -text
gui/app/views/layouts/ajax.ctp -text
gui/app/views/layouts/default.ctp -text
gui/app/views/layouts/flash_error.ctp -text
gui/app/views/layouts/jquery.ctp -text
gui/app/views/layouts/js/empty -text
gui/app/views/layouts/rss/empty -text
gui/app/views/layouts/xml/empty -text
gui/app/views/lm_menus/add.ctp -text
gui/app/views/lm_menus/advanced_add.ctp -text
gui/app/views/lm_menus/advanced_edit.ctp -text
gui/app/views/lm_menus/edit.ctp -text
gui/app/views/lm_menus/index.ctp -text
gui/app/views/lm_menus/settings.ctp -text
gui/app/views/logs/disp.ctp -text
gui/app/views/logs/index.ctp -text
gui/app/views/messages/archive.ctp -text
gui/app/views/messages/edit.ctp -text
gui/app/views/messages/index.ctp -text
gui/app/views/monitor_ivr/delete.ctp -text
gui/app/views/monitor_ivr/erase.ctp -text
gui/app/views/monitor_ivr/export.ctp -text
gui/app/views/monitor_ivr/index.ctp -text
gui/app/views/monitor_ivr/output.ctp -text
gui/app/views/nodes/add.ctp -text
gui/app/views/nodes/edit.ctp -text
gui/app/views/nodes/index.ctp -text
gui/app/views/office_route/edit.ctp -text
gui/app/views/pages/polls/index.ctp -text
gui/app/views/pages/polls/tip.ctp -text
gui/app/views/pages/polls/view.ctp -text
gui/app/views/phone_books/add.ctp -text
gui/app/views/phone_books/edit.ctp -text
gui/app/views/phone_books/export.ctp -text
gui/app/views/phone_books/index.ctp -text
gui/app/views/phone_numbers/add_failure.ctp -text
gui/app/views/phone_numbers/add_success.ctp -text
gui/app/views/polls/add.ctp -text
gui/app/views/polls/edit.ctp -text
gui/app/views/polls/index.ctp -text
gui/app/views/polls/view.ctp -text
gui/app/views/processes/index.ctp -text
gui/app/views/processes/system.ctp -text
gui/app/views/scaffolds/empty -text
gui/app/views/settings/index.ctp -text
gui/app/views/switchers/add.ctp -text
gui/app/views/switchers/edit.ctp -text
gui/app/views/switchers/index.ctp -text
gui/app/views/tags/add.ctp -text
gui/app/views/tags/edit.ctp -text
gui/app/views/tags/index.ctp -text
gui/app/views/users/add.ctp -text
gui/app/views/users/disp.ctp -text
gui/app/views/users/edit.ctp -text
gui/app/views/users/index.ctp -text
gui/app/views/users/view.ctp -text
gui/app/views/votes/add_failure.ctp -text
gui/app/views/votes/add_success.ctp -text
gui/app/webroot/.htaccess -text
gui/app/webroot/css.php -text
gui/app/webroot/css/customise.css -text
gui/app/webroot/css/flash_messages.css -text
gui/app/webroot/css/jquery.cluetip.css -text
gui/app/webroot/css/modalbox.css -text
gui/app/webroot/css/style.css -text
gui/app/webroot/css/vimeo.css -text
gui/app/webroot/favicon.ico -text
gui/app/webroot/freedomfone -text
gui/app/webroot/img/bg.jpg -text
gui/app/webroot/img/icons/accept.png -text
gui/app/webroot/img/icons/add.png -text
gui/app/webroot/img/icons/bulb.png -text
gui/app/webroot/img/icons/clock.png -text
gui/app/webroot/img/icons/delete.png -text
gui/app/webroot/img/icons/edit.png -text
gui/app/webroot/img/icons/export-16.png -text
gui/app/webroot/img/icons/export-24.png -text
gui/app/webroot/img/icons/export.png -text
gui/app/webroot/img/icons/listen.png -text
gui/app/webroot/img/icons/lock.png -text
gui/app/webroot/img/icons/lock_unlock.png -text
gui/app/webroot/img/icons/music.png -text
gui/app/webroot/img/icons/new.png -text
gui/app/webroot/img/icons/notepad.png -text
gui/app/webroot/img/icons/off.png -text
gui/app/webroot/img/icons/on.png -text
gui/app/webroot/img/icons/plus.png -text
gui/app/webroot/img/icons/reject.png -text
gui/app/webroot/img/icons/space.png -text
gui/app/webroot/img/icons/star.png -text
gui/app/webroot/img/icons/start.png -text
gui/app/webroot/img/icons/stop.png -text
gui/app/webroot/img/icons/view.png -text
gui/app/webroot/img/illustrations/FF_IVR_design.png -text
gui/app/webroot/img/illustrations/FF_LAM_state_machine.png -text
gui/app/webroot/img/illustrations/freedomfone_v1.0_architecture.png -text
gui/app/webroot/img/illustrations/freedomfone_v1.0_architecture_callback.png -text
gui/app/webroot/img/illustrations/freedomfone_v1.0_architecture_leaveMessage.png -text
gui/app/webroot/img/illustrations/freedomfone_v1.0_architecture_poll.png -text
gui/app/webroot/img/illustrations/freedomfone_v1.0_architecture_voiceMenu.png -text
gui/app/webroot/img/menu/corner_inset_left.png -text
gui/app/webroot/img/menu/corner_inset_right.png -text
gui/app/webroot/img/menu/corner_left.png -text
gui/app/webroot/img/menu/corner_right.png -text
gui/app/webroot/img/menu/dot.png -text
gui/app/webroot/img/menu/dot_blue.png -text
gui/app/webroot/img/menu/menu_left.png -text
gui/app/webroot/img/menu/menu_right.png -text
gui/app/webroot/img/menu/menu_right_long.png -text
gui/app/webroot/index.php -text
gui/app/webroot/js/addRemoveElements.js -text
gui/app/webroot/js/audio-player.js -text
gui/app/webroot/js/builder.js -text
gui/app/webroot/js/cakemodalbox.js -text
gui/app/webroot/js/cluetip.js -text
gui/app/webroot/js/confirmSubmit.js -text
gui/app/webroot/js/corner.js -text
gui/app/webroot/js/effects.js -text
gui/app/webroot/js/jquery.cluetip.js -text
gui/app/webroot/js/jquery.corner.js -text
gui/app/webroot/js/jquery.js -text
gui/app/webroot/js/modalbox.js -text
gui/app/webroot/js/prototype.js -text
gui/app/webroot/js/scriptaculous.js -text
gui/app/webroot/js/swfobject.js -text
gui/app/webroot/js/toggle.js -text
gui/app/webroot/swf/cakeflash_soundtracker.swf -text
gui/app/webroot/swf/musicplayer.swf -text
gui/app/webroot/swf/player.swf -text
gui/app/webroot/swf/xspf_player_slim.swf -text
gui/app/webroot/themed/ff/css/style.css -text
gui/app/webroot/xml_curl -text
gui/index.php -text
init.d/dispatcher_in -text
init.d/etc/default/iwatch -text
init.d/freeswitch -text
init.d/gsmopen -text
init.d/iwatch -text
init.d/rc.local -text
installer/sekowei/1_sekowei_download.sh -text
installer/sekowei/2_sekowei_compile.sh -text
installer/sekowei/3_sekowei_install_lamp.sh -text
installer/sekowei/4_sekowei_db_reset.sh -text
installer/sekowei/5_sekowei_skype -text
installer/sekowei/6_sekowei_demo_data.sh -text
installer/sekowei/CHECKLIST/20101228 -text
installer/sekowei/demo/ivr_ivr/file_exit.mp3 -text
installer/sekowei/demo/ivr_ivr/file_exit.wav -text
installer/sekowei/demo/ivr_ivr/file_invalid.mp3 -text
installer/sekowei/demo/ivr_ivr/file_invalid.wav -text
installer/sekowei/demo/ivr_ivr/file_long.mp3 -text
installer/sekowei/demo/ivr_ivr/file_long.wav -text
installer/sekowei/demo/ivr_ivr/file_short.mp3 -text
installer/sekowei/demo/ivr_ivr/file_short.wav -text
installer/sekowei/demo/ivr_ivr/ivr.xml -text
installer/sekowei/demo/ivr_ivr/ivr_full.xml -text
installer/sekowei/demo/ivr_nodes/1292926356_Press_1._cholera_menu_ch_1_symptoms_and_prevention.mp3 -text
installer/sekowei/demo/ivr_nodes/1292926356_Press_1._cholera_menu_ch_1_symptoms_and_prevention.wav -text
installer/sekowei/demo/ivr_nodes/1292926376_Press_2._cholera_menu_ch_2_treatment.mp3 -text
installer/sekowei/demo/ivr_nodes/1292926376_Press_2._cholera_menu_ch_2_treatment.wav -text
installer/sekowei/demo/ivr_nodes/1292926427_Press_3._cholera_menu_ch_3_where_to_go.mp3 -text
installer/sekowei/demo/ivr_nodes/1292926427_Press_3._cholera_menu_ch_3_where_to_go.wav -text
installer/sekowei/demo/ivr_nodes/1292926445_Press_4._cholera_menu_ch_4_feature_tsitsi_unicef.mp3 -text
installer/sekowei/demo/ivr_nodes/1292926445_Press_4._cholera_menu_ch_4_feature_tsitsi_unicef.wav -text
installer/sekowei/demo/lam_inbox/3afa7f20-0ce7-11e0-b033-e123b6921c64.mp3 -text
installer/sekowei/demo/lam_inbox/3afa7f20-0ce7-11e0-b033-e123b6921c64.wav -text
installer/sekowei/demo/lam_inbox/efb25e98-0ce6-11e0-b030-e123b6921c64.mp3 -text
installer/sekowei/demo/lam_inbox/efb25e98-0ce6-11e0-b030-e123b6921c64.wav -text
installer/sekowei/demo/lam_ivr/lmDelete.mp3 -text
installer/sekowei/demo/lam_ivr/lmDelete.wav -text
installer/sekowei/demo/lam_ivr/lmGoodbye.mp3 -text
installer/sekowei/demo/lam_ivr/lmGoodbye.wav -text
installer/sekowei/demo/lam_ivr/lmInform.mp3 -text
installer/sekowei/demo/lam_ivr/lmInform.wav -text
installer/sekowei/demo/lam_ivr/lmInvalid.mp3 -text
installer/sekowei/demo/lam_ivr/lmInvalid.wav -text
installer/sekowei/demo/lam_ivr/lmLong.mp3 -text
installer/sekowei/demo/lam_ivr/lmLong.wav -text
installer/sekowei/demo/lam_ivr/lmSave.mp3 -text
installer/sekowei/demo/lam_ivr/lmSave.wav -text
installer/sekowei/demo/lam_ivr/lmSelect.mp3 -text
installer/sekowei/demo/lam_ivr/lmSelect.wav -text
installer/sekowei/demo/lam_ivr/lmWelcome.mp3 -text
installer/sekowei/demo/lam_ivr/lmWelcome.wav -text
installer/sekowei/extras/devices_creator.sh -text
installer/sekowei/extras/install-flash_64bits.sh -text
installer/sekowei/extras/libs/esl/Makefile -text
installer/sekowei/extras/office_route/backup_officeroute_2.3.11.tgz -text
installer/sekowei/extras/skypopen_auth -text
office_route/config.php -text
office_route/pop3.php -text
office_route/pop3_daemon.php -text
xml_curl/Mod_XML_Curl_Outline.png -text
xml_curl/README -text
xml_curl/core.xml -text
xml_curl/dialplan.xml -text
xml_curl/index.php -text
xml_curl/ivr.xml -text
