.trigger{
	cursor:pointer;
	padding:3px;
	}		
.trigger:hover{
	cursor:pointer;
	background:#fff;
	padding:3px;
 }  
.expanded{
       background:#fff;
       cursor:pointer;
       padding:3px;
   }
.expanded:hover{
      background:#fff;
      cursor:pointer;
      padding:3px;
  }
.show{
     position:static;
     display: table;
     padding:3px;
}
.hide{
	position:absolute;
	left:-999em;
	height:1px;
	width:100px;
	padding:3px;
	overflow:hidden;
}
