/****************************************************************************
 * style.css			- Main stylesheet for Freedom Fone
 * version 		 	- 1.0.368
 * 
 * Version: MPL 1.1
 *
 * The contents of this file are subject to the Mozilla Public License Version
 * 1.1 (the "License"); you may not use this file except in compliance with
 * the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 *
 * The Initial Developer of the Original Code is
 *   Louise Berthilson <louise@it46.se>
 *
 *
 ***************************************************************************/



.formTitleDefault {
	font-weight: normal;
	font-size: 100%;
	width: 100px;
	padding: 0px 5px 5px 0;
	margin:  0px 5px 5px 0;

}

.formTitleAlone {
	width: 70%;
	border-bottom: 1px solid #555;
	padding: 20px 5px 5px 0;
	margin: 10px 5px 5px 0;
	font-size: 16px;
	color: #000;
	font-weight: bold;
}

.formComment {
	margin: 5px 0 5px 0;
	font-size: 90%;
	color: #777;
}

.formHelp {
	margin: 5px 0 5px 0;
	font-size: 90%;
	color: #000;
}


.message_success {
    font-size: 100%;
    font-weight: bold;

}

div.input {

    font-size: 12px;
    margin: 5px 0 0 0;
    color: #333;
}

legend {

    font-size: 16px;
    color: #000;
   

}
div.required label:after {

    content: ' *';
    color: #990000; 
   display:inline;

}



.error-message {

    font-size: 12px;
    color: #f00;
    margin: 2px 0 10px 0;
}

img.icon {

    padding: 2px 2px 2px 2px;

}

.frameInfo {

  float: right;
  padding: 5px;
  margin: 12px 0 0 0;

}

.frameInfoLeft {

  float: left;
  padding: 5px;

}

.frameRight {

      float: right;
      padding: 5px;
      background:#d6efec;
      margin:5px;
      border:#ccc 1px solid;
      -moz-border-radius:10px;
      -webkit-border-radius:10px;
      border-radius:10px;

}




.frameRightAlone {
float: right;
margin: 5px;
padding: 5px;
}

.frameRight2{

float:right;


}

.frameLeft {

      float: left;
      padding: 5px;
      background:#d6efec;
      margin:5px;
      border:#ccc 1px solid;
      -moz-border-radius:10px;
      -webkit-border-radius:10px;
      border-radius:10px;

}


fieldset {

     border-radius: 10px;
     -moz-border-radius: 10px;
     border: 1px solid #aaa;
     padding: 10px;
     margin: 10px;
}

.instruction {
     font-size: 13px;
     font-weight: normal;
     padding: 5px;
     color: #000;
}

.system_time {
     
     display:inline-block;
     font-size: 13px;
     font-weight: normal;
     padding: 5px;
     color: #000;
     border-top: #ccc 1px solid;
     margin-top: 50px;
}


.news {
     font-size: 13px;
     font-weight: normal;
     padding: 5px;
     color: #000;
}

.news a:link, a:visited, a:hover, a:visited:hover, a:active {
     color: #000;

}


.message {
     font-size: 14px;
     font-weight: bold;
     padding: 5px;
     color: #000;
}


.box {
     font-size: 14px;
     font-weight: normal;
     padding: 10px;
     color: #000;

}

.boxMarginDown {
 
     padding-bottom: 20px;
 

}

.process {
color: #f89843; 
font-size: 1.3em; 
font-weight: bold;
margin:0px;
padding:0px;
}


.empty_line {

width: 400px;
border-bottom: 1px solid #aaa;
padding: 0px;
}

.space {

height: 10px;

 }

.long {
      width: 400px;
      cursor: help;
      color: #fff;
}

#wrapper {
position: relative;
width: 900px;
margin: 0;
padding: 0;
margin: 0 auto;
text-align:left;
z-index: 1;
}

.header {
height: 33px;
width: 900px;
padding: 0;
margin: 0;
line-height: 33px;
background-color: #a2b84b;
border-top-right-radius: 20px;
-moz-border-radius-topright: 20px;
border-top-left-radius: 20px;
-moz-border-radius-topleft: 20px;

}

.button_center {

margin-left: 30px;

               }
#header_left {
float: left;
margin-left: 10px;
display: inline;
}

#header_right {
float: right;
margin-right: 20px;
}

#branding_header {
width: 900px;
height: 150px;
margin: 0;
padding: 0;
}

#top_nav {
height: 33px;
width: 900px;
margin: 0px;
padding: 0px;
background: #fff;
}


#content_wrap {
width: 900px;
overflow: auto;

}

#main_content {
float: left;
width: 880px;
padding: 0px 10px 10px 10px;
margin: 0px;
min-height: 500px;
}

* html body #main_content {
width: 900px;
}

.footer  {
background-color: #a2b84b;
width: 900px;
height: 30px;
text-align: center;
padding-top: 8px;
color: #fff;
font-weight: bold;
border-bottom-right-radius: 20px;
-moz-border-radius-bottomright: 20px;
border-bottom-left-radius: 20px;
-moz-border-radius-bottomleft: 20px;

}

.PrevPg {
  margin-right: 10px;
}

.NextPg{
  margin-left: 10px;
}

.DisabledPgLk{
  width: 100px;
  display: inline;
}

.current{

   font-weight: bold;

 }

.paginator{

    margin: 10px;

}

.breadcrumb {

   margin: 10px;

             }