/****************************************************************************
 * style.css			- Main stylesheet for Freedom Fone
 * version 		 	- 1.0.368
 * 
 * Version: MPL 1.1
 *
 * The contents of this file are subject to the Mozilla Public License Version
 * 1.1 (the "License"); you may not use this file except in compliance with
 * the License. You may obtain a copy of the License at
 * http://www.mozilla.org/MPL/
 *
 * Software distributed under the License is distributed on an "AS IS" basis,
 * WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License
 * for the specific language governing rights and limitations under the
 * License.
 *
 *
 * The Initial Developer of the Original Code is
 *   Louise Berthilson <louise@it46.se>
 *
 *
 ***************************************************************************/

.formTitleDefault {
	font-weight: normal;
	font-size: 100%;
	width: 100px;
	padding: 0px 5px 5px 0;
	margin:  0px 5px 5px 0;

}

.formTitleAlone {
	width: 70%;
	border-bottom: 1px solid #555;
	padding: 20px 5px 5px 0;
	margin: 10px 5px 5px 0;
	font-size: 16px;
	color: #000;
	font-weight: bold;
}

.formComment {
	margin: 5px 0 5px 0;
	font-size: 90%;
	color: #777;
}

.formHelp {
	margin: 5px 0 5px 0;
	font-size: 90%;
	color: #000;
}


.message_success {
    font-size: 100%;
    font-weight: bold;

}

div.input {

    font-size: 12px;
    margin: 5px 0 0 0;
    color: #333;
}

legend {

    font-size: 16px;
    color: #000;
   

}
div.required label:after {

    content: ' *';
    color: #990000;
    display:inline;

}



.error-message {

    font-size: 12px;
    color: #f00;
    margin: 2px 0 10px 0;
}

img.icon {

    padding: 2px 2px 2px 2px;

}

.frameInfo {

  float: right;
  padding: 5px;
  margin: 12px 0 0 0;

}

.frameInfoLeft {

  float: left;
  padding: 5px;

}


.frameRight {
float: right;
margin: 5px;
padding: 5px;
background-color : #fff;
}

.frameRightAlone {
float: right;
margin: 5px;
padding: 5px;
}

.frameRight2{

float:right;


}
.frameLeft {

float: left;
margin: 5px;
padding: 5px;
}


fieldset {

width: 95%;
border: 1px solid #aaa;
padding: 10px;

}

.instruction {
     font-size: 13px;
     font-weight: normal;
     padding: 5px;
     font-color: #000;
}

.news {
     font-size: 13px;
     font-weight: normal;
     padding: 5px;
     font-color: #000;
}

.news a:link, a:visited, a:hover, a:visited:hover, a:active {
     font-color: #000;

}


.message {
     font-size: 14px;
     font-weight: bold;
     padding: 5px;
     font-color: #000;
}


.box {
     font-size: 14px;
     font-weight: normal;
     padding: 10px;
     font-color: #000;

}

.boxMarginDown {
 
     padding-bottom: 20px;
 

}

.process {
color: #f89843; 
font-size: 1.3em; 
font-weight: bold;
margin:0px;
padding:0px;
}


.empty_line {

width: 400px;
border-bottom: 1px solid #aaa;
padding: 0px;
}


.long {
      width: 400px;
      cursor: help;
      color: #fff;
}

#wrapper {
position: relative;
width: 900px;
margin: 0;
padding: 0;
margin: 0 auto;
text-align:left;
z-index: 1;
}

#top_shadow {
position: absolute;
right: -7px;
top: 33px;
width: 900px;
height: 150px;
z-index: -1;
}

.top_a {
height: 33px;
width: 900px;
padding: 0;
margin: 0;
line-height: 33px;
background-color: #000;
border-top-right-radius: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
-moz-border-radius-topleft: 10px;

}

#top_a_left {
float: left;
margin-left: 10px;
display: inline;
}

#top_a_right {
float: right;
margin-right: 20px;
}

#branding_header {
width: 900px;
height: 150px;
margin: 0;
padding: 0;
}

#top_nav {
height: 33px;
width: 900px;
margin: 0;
padding: 0;
}

#top_shelf {
border-top: 10px solid #E4E9AB;
width: 780px;
margin: 0;
padding: 0;
overflow: auto;
}

#top_shelf_left {
float: left;
width: 236px;
padding: 0 5px 0px 5px;
margin-left: 10px;
display:inline;
}

* html body #top_shelf_left {
width: 246px;
}

#top_shelf_center {
float: left;
width: 236px;
padding: 0 5px 0px 5px;
margin-left: 10px;
}

* html body #top_shelf_center {
width: 246px;
}

#top_shelf_right {
float: left;
width: 236px;
padding: 0 5px 0px 5px;
margin-left: 10px;
}

* html body #top_shelf_right {
width: 246px;
}

#top_seperator {
width: 780px;
height: 20px;
}

#content_wrap {
width: 900px;
overflow: auto;
}

#sidebar {
float: left;
width: 190px;
margin-left: 10px;
padding: 0 5px 5px 5px;
margin-top: -7px;
display: inline;
}

* html body #sidebar {
width: 200px;
}

#pathway {
float: left;
width: 538px;
margin-left: 11px;
padding: 5px;
}

* html body #pathway {
width: 549px;
}

#main_content {
float: left;
width: 880px;
padding: 0px 10px 10px 10px;
margin-left: 0px;
min-height: 500px;
}

* html body #main_content {
width: 900px;
}

.footer  {
background-color: #000;
width: 900px;
height: 33px;
text-align: center;
padding-top: 8px;
color: #fe911c;
font-style: italic;
border-bottom-right-radius: 10px;
-moz-border-radius-bottomright: 10px;
border-bottom-left-radius: 10px;
-moz-border-radius-bottomleft: 10px;

}


#footer_shadow {
background: url(../img/footer_shadow_bg.jpg) repeat-x;
height: 52px;
width: 780px;
margin: 0;
padding: 0;
}


.header_start{

font-family: Helvetica Neue;
border-top-left-radius: 10px;
-moz-border-radius-topleft: 10px;
background-color: #35cbe1;
padding: 5px;
color: #fff;
width: 100px;

}

.header_mid{
background-color: #35cbe1;
padding: 5px;
color: #fff;
width: 100px;

}

.body_mid{
background-color: #35cbe1;
padding: 5px;
color: #fff;
width: 100px;
padding: 0px;

}


.header_end{

font-family: Helvetica Neue;
border-top-right-radius: 10px;
-moz-border-radius-topright: 10px;
background-color: #35cbe1;
padding: 5px;
color: #fff;
width: 100px;


}
