
        /* menu */
        #menu{ 	
		margin:0px; padding:0px; list-style:none; color:#000; line-height:30px; display:inline-block; float:left; 
		z-index:1000;}
        #menu a { color:#000 text-decoration:none; }
        #menu > li {background:#cee049; none repeat scroll 0 0; cursor:auto; float:left; position:relative;padding:0px 5px; list-style-type: none; margin:0px; }
        #menu > li a:hover {color:#000;}
        #menu .logo {background:transparent none repeat scroll 0% 0%; padding:0px; background-color:Transparent;}
        /* sub-menus*/
        #menu ul { padding:0px; margin:0px; display:block; display:inline;}
        #menu li ul { position:absolute; left:-10px; top:0px; margin-top:30px; width:120px; line-height:16px; background-color:#cce049; color:#cce049; /* for IE */ display:none; }
        #menu li:hover ul { display:block;}
        #menu li ul li{ display:block; margin:5px 20px; padding: 3px 0px;  border-top: dotted 1px #606060; list-style-type:none; }
        #menu li ul li:first-child { border-top: none; }
        #menu li ul li a { display:block; color:#000; }
        #menu li ul li a:hover { color:#000; }
        /* main submenu */
        #menu #main { left:0px; top:-15px; padding-top:15px; background-color:#cce049; color:#fff; z-index:999;}
        /* search */
        .searchContainer div { background-color:#cce049 display:inline; padding:5px;overflow:hidden;}
        .searchContainer input[type="text"] {border:none;}
        .searchContainer img { vertical-align:middle;overflow:hidden;}
        /* corners*/
        #menu .corner_inset_left { position:absolute; top:0px; left:-12px;}
        #menu .corner_inset_right { position:absolute; top:0px; left:120px;}
        #menu .last { background:transparent none repeat scroll 0% 0%; margin:0px; padding:0px; border:none; position:relative; border:none; height:0px;}
        #menu .corner_left { position:absolute; left:0px; top:0px;}
        #menu .corner_right { position:absolute; left:102px; top:0px;}
        #menu .middle { position:absolute; left:18px; height: 20px; width: 85px; top:0px;}
