<IfDefine ffone_basic_auth>
AuthName "Basic Authentication"
AuthType Basic
AuthUserFile /usr/local/freedomfone/config/ffone_basic_auth.htpasswd
require valid-user
order deny,allow
deny from all
allow from 127.0.0.1
satisfy any
</IfDefine>

<IfModule mod_rewrite.c>
   RewriteBase /freedomfone
   RewriteEngine on
   RewriteRule    ^$ app/webroot/    [L]
   RewriteRule    (.*) app/webroot/$1 [L]
</IfModule>
