<IfModule mod_rewrite.c>
    RewriteBase /freedomfone
    RewriteEngine on
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
 </IfModule>
#Order deny,allow 
#Deny from all
#Allow from localhost 
#Allow from 127.0.0.1 
#Allow from 91.226.180        //Allow access from IP network
#Allow from 192.168.1.1       //Allow access from single IP address